body {
    background: red; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(45deg, blue, red); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(45deg, blue, red); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(45deg, blue, red); /* For Firefox 3.6 to 15 */
    background: linear-gradient(45deg, blue, red); /* Standard syntax (must be last) */
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
    color: white;
    padding: 0;
    margin: 0;
    /*background-color: #eeeeee;*/
}


.navbar {
    overflow: hidden;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


#home,
#stock1,
#stock2,
#stock3 {
    min-height: 100vh;
}

#override .content {
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

#override article {
    position: absolute;
    top: 20%;
}

/*#stock1,
#stock2,
#stock3 {
    display: hidden;
    justify-content: center;
    align-items: center;
}*/

a {
    padding: 0;
    color: white;
}

h4 {
    display: inline-block;
    margin-left: 10px;
}

h1,
h4 {
    margin: 0;
}

#override h1 {
    margin-bottom: 8.5vh;
    font-size: 62px;
}

p,
h1,
h2,
h3,
h4 {
    font-weight: bold;
    color: white;
}



h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

h5 {
    display: inline-block;
}

.container {
    width: 100%;
    height: 100vh;
    display: block;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: #80b0ff;
}

.about {
    width: 100%;
    height: 100vh;
    display: block;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: #b3d0ff;
}

.img-responsive {
    max-width: 100%;
    height: 100%;
}

.name {
    text-align: left;
}

.row {
    width: 100%;
    display: block;
    flex-wrap: wrap;
    margin: 0;
    text-align: center;
}

.title-picture,
.title-hr {
    padding-right: 0;
    padding-left: 0;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-uppercase {
    text-transform: uppercase;
}

.graph {
    height: 100vh;
}

.col-md-12,
.col-sm-12 {
    width: 100%;
    padding: 0;
    float: none;
}

.chart_title {
    padding-top: 15px;
    text-decoration: underline;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 3%;
}

/*.chart_title {

}*/

.correlation{
    text-align: center;
    padding-top: 15px;
    font-size: 24px;
}

.c3-axis-x-label{
    color: white;
}

#nflx_graph,
#aapl_graph,
#jpm_graph
{
    background-color: #202020;
    margin-right: 25px;
    margin-left: 25px; 
}

.c3-line{
    stroke-width: 2px;
}

.c3-legend-item text{
    stroke: white;
}

.c3 path, .c3 line, .tick text{ 
  stroke: white;
}

.c3-axis-y text {
   fill: white;
   font-size:12px;
}

.c3-axis-y2 text {
   fill: white;
   font-size:12px;
}

.title {
    font-size: 62px;
    background: none;
}

.one,
.two,
.three {
    font-size: 24px;
}


