<!DOCTYPE html>


<html lang="en" xmlns="https://www.w3.org/1999/xhtml/">


    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width">
        <title>Emotivest</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css">
        <link rel="stylesheet" href="../static/css/docs.theme.min.css">
        <link rel="stylesheet" href="../static/css/carousel.css">
        <link rel="stylesheet" href="../static/css/styles.css">
    </head>
    <body id="override">

        <div class="navbar">
            <a href="mailto:shauncox@hotmail.com" target="_top">Shaun</a>
            <a href="mailto:dcaulfie@stetson.edu" target="_top">David</a>
            <a href="#stock3">Stock3</a>
            <a href="#stock2">Stock2</a>
            <a href="#stock1">Stock1</a>
            <a href="#home">Home</a>
        </div>


        <!-- Home Page(1) -->
        <div id="home">
            <a class="anchor" name="home"></a>

            <div class="row content col-md-12">
                <article>
                    <h1 class="title">Emotivest</h1>
                    <p class="one">The purpose of this project is to determine whether the emotion of Twitter tweets is predictive of future stock prices</p>
                    <p class="two">We used machine learning, aided by the Natural Language Toolkit, to interpret and map the sentiment of each stock's respective tweets</p>
                    <p class="three">David Caulfield and Shaun Cox pursued this idea as their group project while at Byte Academy, a Python coding school, in New York, NY</p>
                </article>
            </div>
        </div>


        <!-- Stock1 Page(2) -->
        <div class="graph">
            <a class="anchor" name="stock1"></a>
            <h4 class="chart_title">NFLX Returns/Sentiment Chart</h4>
            <div id="nflx_graph" data-returns="{{ nflx_info }}">
            </div>
            <div class='correlation'>Correlation: {{ nflx_corr }}</div>
        </div>


        <!-- Stock2 Page(3) -->
        <div class="graph">
            <a class="anchor" name="stock2"></a>
            <h4 class="chart_title">AAPL Returns/Sentiment Chart</h4>
            <div id="aapl_graph" data-returns="{{ aapl_info }}"></div>
            <div class='correlation'>Correlation: {{ aapl_corr }}</div>
        </div>


        <!-- Stock3 Page(4) -->
        <div class="graph">
            <a class="anchor" name="stock3"></a>
            <h4 class="chart_title">JPM Returns/Sentiment Chart</h4>
            <div id="jpm_graph" data-returns="{{ jpm_info }}"></div>
            <div class= 'correlation'>Correlation: {{ jpm_corr }}</div>
        </div>


        <!-- JavaScripts -->
        <!-- To Make Site Compatible with IE, maybe :) -->
        <!-- // <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script> -->
        <script rel="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
        <script async="" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.4/d3.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.3/require.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>
        <script async="" src="../static/js/graph.js"></script>
    </body>
</html>




